@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat&display=swap');


.navbar{
  color: white;
  font-family: 'Montserrat';
  font-weight: 700;
}

.btn{
  border-radius: 25px;
  margin-left: 20px;
  font-weight: 700;
}

.btn-primary{
  background-color: #5D5FEF;
;
}

.jumbotron{
  margin-top: -150px;
  height: 780px;
  background-image: url('./bg_jumbotron.png');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}

.merchants{
  background: #14182c;
}

.opening{
  background: #000000;
  text-align: center;
  color: white;
  font-weight: 700;

}

h4{
  font-weight: 700;
}

.paragrap{
  font-weight: 400;
}

.upcoming{
  background: #292929;
  color: white;
}
.upcomingTitle{
  font-family: 'Aclonica', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #5D5FEF;
  ;
}

.card{

  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.mycard{
  border-radius: 10px;
  background-color: black;
  font-weight: 700;
  overflow: hidden;
}

.textMyCard{
  border: '2px solid black';
  align-items: 'center';
  margin: 0; padding: "20px 10px";
  background: 'black';
  opacity: '0.8';
  filter: blur('8px')
}

.strategy{
  background: #292929;
}

.footer{
  color: white;
}

.footer-title{
  font-weight: 700;
}

.news{
  color: white;
  background-image: url('./bg-polygon.png');
}

















/* Edit Text ABove */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
